{"openapi":"3.0.3","info":{"title":"Wealthtech API","description":"RESTful API for controlling and interacting with Atlas data","version":"2.6.0"},"servers":[{"url":"https://api.bridgeft.com/v2"}],"x-readme":{"explorer-enabled":false,"proxy-enabled":true,"samples-enabled":true},"paths":{"/account-management/accounts":{"get":{"tags":["Accounts"],"summary":"List all Accounts","description":"Return an enveloped list of Accounts accessible to your application","operationId":"getAccounts","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An envelope of accounts","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Accounts"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Accounts"],"summary":"Update Accounts","description":"Provide a list of accounts to update. Then entire account object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `benchmarks_ids`\n- `fee_structures_ids`\n- `billing_splits_ids`\n- `notes`\n- `nickname`\n- `household_id` To remove an account from a household, provide `null` in this field.\n- `target_allocation_id`\n- `first_performance_date`\n- `payment_source`\n- `first_billable_date`\n- `investment_model_id`\n- `required_cash`\n- `unsupervised_securities_ids`\n- `buy_securities_ids`\n- `sell_securities_ids`\n- `do_not_buy_securities_ids`\n- `do_not_sell_securities_ids`\n- `required_cash_frequency`\n","operationId":"readUpdatedAccounts","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts"}}}},"responses":{"200":{"description":"An envelope of accounts","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Accounts"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Retrieve an Account","description":"Returns an account based on a single ID","operationId":"getAccount","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Accounts"],"summary":"Update an Account","description":"Provide an account to update. Then entire account object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `benchmark_ids`\n- `fee_structure_ids`\n- `billing_split_ids`\n- `notes`\n- `nickname`\n- `household_id` To remove an account from a household, provide `null` in this field.\n- `target_allocation_id`\n- `first_performance_date`\n- `payment_source`\n- `first_billable_date`\n- `investment_model_id`\n- `required_cash`\n- `unsupervised_securities_ids`\n- `buy_securities_ids`\n- `sell_securities_ids`\n- `do_not_buy_securities_ids`\n- `do_not_sell_securities_ids`\n- `required_cash_frequency`\n","operationId":"readUpdatedAccount","parameters":[{"$ref":"#/components/parameters/id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"responses":{"200":{"description":"The updated account record.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/accounts/filter":{"post":{"tags":["Accounts"],"summary":"Filter Account records","description":"Filter accounts","operationId":"filterAccounts","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"Unique ID for this account object","type":"integer","example":216897},"name":{"description":"Populated from custodian data but can be modified by users","type":"string","example":"Violet Juns"},"firm_id":{"description":"ID of the owning firm","type":"integer","example":39},"inception_date":{"description":"Date of account inception, if applicable. May differ from opening date.","type":"string","nullable":true,"format":"date","example":null},"close_date":{"description":"Date the account was closed, if applicable","type":"string","nullable":true,"format":"date","example":null},"status":{"description":"Status of the account object. It can be funded, papered, closed or slate. Funded account is considered active account, Papered or Closed account is inactive, and Stale is unknown","type":"string","enum":["funded","papered","closed","stale"],"example":"funded"},"number":{"description":"Account number","type":"string","example":"DEMO3577"},"custodian":{"description":"Custodian the account data comes from. APX=Apex Fintech Solutions, AXO=Axos Advisory Services, DST=DST Systems, FPR=Fidelity 401k/403b, IBK=Interactive Brokers, NFS=Fidelity Investments, PER=Pershing, PTA=Pontera, SWB=Charles Schwab, EGB=Eaglebrook, MLT=Millenium Trust, TIA=TIAA Financial Services","type":"string","enum":["APX","AXO","DST","FPR","IBK","NFS","PER","PTA","SWB","EGB","MLT","TIA"],"example":"SWB"},"city":{"description":"City of the account-holder","type":"string","example":"New Irmachester"},"zip_code":{"description":"Zip code of the account-holder","type":"string","example":"90337"},"acct_type":{"description":"Type of account. Example, IRA Roth, 401k, etc.","type":"string","example":"401k"},"is_tax_deferred":{"description":"True if this account is tax deferrable. This data is typically provided by the financial institution","type":"boolean","nullable":true,"example":null},"is_taxable":{"description":"True if this account is taxable. This data is typically provided by the financial insitution","type":"boolean","nullable":true,"example":null},"payment_source":{"description":"C=billed at the custodian D=billed directly","type":"string","enum":["C","D"],"example":"C"},"advisor_code":{"description":"Advisor code for this account object","type":"string","example":"DEMO2"},"household_id":{"description":"Household Id this account belongs to","type":"integer","example":68778}}}}}},"responses":{"200":{"description":"An envelope of accounts","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Accounts"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/tax-id/{taxid}":{"post":{"tags":["Tokenized Tax IDs"],"summary":"Retrieve Single Tokenized Tax ID","description":"Exchange a single Tax ID for the tokenized representation.","operationId":"getTaxID","parameters":[{"name":"taxid","in":"path","description":"Tax ID","required":true,"schema":{"type":"string"},"example":"000-00-0000"}],"responses":{"200":{"description":"Tokenized Tax ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxId"}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/tax-id":{"post":{"tags":["Tokenized Tax IDs"],"summary":"Retrieve Many Tokenized Tax IDs","description":"Exchange multiple Tax IDs for their tokenized representations.","operationId":"getTaxIDs","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxIds"}}}},"responses":{"200":{"description":"Tokenized list of provided Tax IDs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxIds"}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/related-persons":{"get":{"tags":["Related Persons"],"summary":"List all Related Persons","description":"Returns a list of all related persons for accessible accounts.","operationId":"getRelatedPersons","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An envelope of related persons","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"type":"array","items":{"type":"object","properties":{"id":{"title":"Object ID","description":"Unique ID for this account object","type":"integer"},"account_id":{"title":"Account ID","description":"The unique ID for the account the person record is related to.","type":"integer"},"type":{"title":"Type","description":"The related person type provided by the custodian.","type":"string"},"first_name":{"title":"First Name","description":"The related person's first name.","type":"string"},"last_name":{"title":"Last Name","description":"The related person's last name.","type":"string"},"middle_initial":{"title":"Middle Initial","description":"The related person's middle initial.","type":"string"},"date_of_birth":{"title":"Date of Birth","description":"The date of birth of the related person.","type":"string","format":"date"},"entity_name":{"title":"Entity Name","description":"The related person's entity.","type":"string"},"email":{"title":"Email","description":"The related person's email.","type":"string"},"tax_id_token":{"title":"Tax ID Token","description":"Tokenized representation of the related person's Tax ID.","type":"string"},"phone_numbers":{"title":"Phone Numbers","description":"List of phone numbers for the related person. If they are provided by the custodian.","type":"array","items":{"type":"object","properties":{"phone_number":{"title":"Phone Number","description":"Phone number for the related person.","type":"string"},"type":{"title":"Type","description":"The type of phone number.","type":"string"}}}},"addresses":{"title":"Addresses","description":"List of addresses for the related person. If they are provided by the custodian.","type":"array","items":{"type":"object","properties":{"address_1":{"title":"Address 1","description":"Line one of the related person's address record.","type":"string"},"address_2":{"title":"Address 2","description":"Line two of the related person's address record.","type":"string"},"city":{"title":"City","description":"Address city","type":"string"},"state":{"title":"State","description":"Address state","type":"string"},"postal_code":{"title":"Postal Code","description":"Address postal code","type":"string"},"country":{"title":"Country","description":"Address county","type":"string"},"type":{"title":"Type","description":"Address type","type":"string"}}}},"created_at_utc":{"description":"Timestamp for when the record was created.","type":"string","format":"date-time"},"updated_at_utc":{"description":"Timestamp for when the record was updated.","type":"string","format":"date-time"}}}}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/related-persons/filter":{"post":{"tags":["Related Persons"],"summary":"Filter related persons","description":"Filter related persons","operationId":"filterRelatedPersons","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"Unique ID for this account object","type":"integer","example":1234},"account_id":{"description":"The unique ID for the account the person record is related to.","type":"integer","example":12341234},"account_ids":{"description":"A list of account IDs to filter on.","type":"array","items":{"type":"integer"},"example":[12345,12346]},"type":{"description":"The related person type provided by the custodian.","type":"string","example":"Beneficiary"},"first_name":{"example":"John","description":"The related person's first name.","type":"string"},"last_name":{"example":"Doe","description":"The related person's last name.","type":"string"},"middle_initial":{"example":"H","description":"The related person's middle initial.","type":"string"},"date_of_birth":{"example":"1995-09-23","description":"The date of birth of the related person.","type":"string","format":"date"},"entity_name":{"example":"John Doe's Company","description":"The related person's entity.","type":"string"},"email":{"example":"john.doe@example.com","description":"The related person's email.","type":"string"},"tax_id_token":{"example":"tax_id_token","description":"Tokenized representation of the related person's Tax ID.","type":"string"}}}}}},"responses":{"200":{"description":"An envelope of filtered related persons","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/paths/~1account-management~1related-persons/get/responses/200/content/application~1json/schema/properties/data"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/tax-id/exchange/{tax_id_token}":{"post":{"tags":["Tokenized Tax IDs"],"summary":"Exchange Tax ID Token","description":"Exchange`tax_id_token` For Plain Text Value","operationId":"exchangeTaxIDToken","parameters":[{"name":"tax_id_token","in":"path","description":"Tax ID Token","required":true,"schema":{"type":"string"},"example":"account_tax_id_token"}],"responses":{"200":{"description":"Plain text value of the provided `tax_id_token`.","content":{"application/json":{"schema":{"type":"object","properties":{"tax_id_token":{"title":"Tax ID Token","description":"The Tax ID Token provided","type":"string"},"original_value":{"title":"Original Value","description":"The original value of the provided `tax_id_token`","type":"string"},"type":{"title":"Type","description":"The type of tax identifier. Can be a social security number or a tax ID.","type":"string","enum":["ssn","tax_id"]}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/tax-id/exchange":{"post":{"tags":["Tokenized Tax IDs"],"summary":"Exchange Tax ID Tokens","description":"Exchange list of `tax_id_tokens` For Their Plain Text Values","operationId":"exchangeTaxIDTokens","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tax_id_tokens":{"description":"The list of `tax_id_tokens` to exchange for their original values.","type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"Plain text value of the provided `tax_id_token`.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/paths/~1account-management~1tax-id~1exchange~1%7Btax_id_token%7D/post/responses/200/content/application~1json/schema"}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/tda-to-swb-migrations":{"get":{"deprecated":true,"tags":["TDA to Schwab Account Migration"],"summary":"List all TDA to Schwab Migrated Accounts","description":"Retrieve the list of all your TDA Accounts which are subjected to be migrated to Schwab.","operationId":"getSchwabTdaMappings","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Successful Schwab TDA Mapping Response","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"type":"array","items":{"type":"object","properties":{"account_id":{"title":"Account ID","description":"BridgeFT's internal ID of the account record this mapping pertains to.","type":"integer"},"schwab_master_number":{"title":"Schwab Master Number","description":"The master number that the new Schwab account falls under.","type":"string"},"schwab_account_number":{"title":"Schwab Account Number","description":"The new account number for the migrated TDA account.","type":"string"},"tda_rep_code":{"title":"TDA Rep Code","description":"The Rep code the TDA account was assigned to.","type":"string"},"tda_account_number":{"title":"TDA Account Number","description":"The account number from TDA.","type":"string"}}}}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/account-management/tda-to-swb-migrations/filter":{"post":{"deprecated":true,"tags":["TDA to Schwab Account Migration"],"summary":"Filter TDA to Schwab Migrated Accounts","description":"Filter out to find particular TDA Account and its respective new Schwab account number.","operationId":"filterSchwabTdaMappings","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"account_id":{"description":"Provide an ID of an Account to filter.","type":"integer","example":216897},"account_ids":{"description":"Provide a list of Account IDs to filter.","type":"array","items":{"type":"integer"},"example":[216897,216898]},"tda_rep_code":{"description":"Provide a TDA Rep Code to filter.","type":"string","example":"TDAREPCODE1"},"tda_rep_codes":{"description":"Provide a list of TDA Rep Codes to filter.","type":"array","items":{"type":"string"},"example":["TDAREPCODE1","TDAREPCODE2"]},"tda_account_number":{"description":"Provide a TDA Account Number to filter.","type":"string","example":"TDAACCOUNT1"},"tda_account_numbers":{"description":"Provide a list of TDA Account Numbers to filter.","type":"array","items":{"type":"string"},"example":["TDAACCOUNT1","TDAACCOUNT2"]},"schwab_master_number":{"description":"Provide a Schwab Master Number to filter.","type":"string","example":"SWBMASTERNUMBER1"},"schwab_master_numbers":{"description":"Provide a list of Schwab Master Numbers to filter.","type":"array","items":{"type":"string"},"example":["SWBMASTERNUMBER1","SWBMASTERNUMBER2"]},"schwab_account_number":{"description":"Provide a Schwab Account Number to filter.","type":"string","example":"SWBACCOUNT1"},"schwab_account_numbers":{"description":"Provide a list of Schwab Account Numbers to filter.","type":"array","items":{"type":"string"},"example":["SWBACCOUNT1","SWBACCOUNT2"]}}}}}},"responses":{"200":{"description":"An enveloped list of Schwab TDA Mappings","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/paths/~1account-management~1tda-to-swb-migrations/get/responses/200/content/application~1json/schema/properties/data"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/org/advisor-codes":{"get":{"tags":["Advisor Codes"],"summary":"List Advisor Codes","description":"Returns a list of all of the advisor codes associated with the application.","operationId":"getAdvisorCodes","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of Advisor Codes","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/paths/~1org~1advisor-codes~1create-many/post/responses/200/content/application~1json/schema"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"post":{"tags":["Advisor Codes"],"summary":"Create an Advisor Code","description":"Returns the created Advisor Code, if successful.\n\n**Note for Advisor Code Mapping in Sandbox Applications**\nTo preserve the data integrity of sandbox applications, the advisor code mapping endpoints are read-only\nand requests for creation or deletion of advisor codes will not result in updates to advisor code mappings.\nSandbox applications can read advisor codes from the `/v2/org/advisor-codes` endpoint, but the changes will not\nbe reflected upon updates.\n\nFor production applications, full access is granted to the advisor code mapping endpoints. Creations and removals\nof advisor codes will be applied to the advisor codes mapped to the application.\n","operationId":"createAdvisorCode","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["firm_id","code","source"],"properties":{"firm_id":{"title":"Firm ID","description":"ID of the Firm that the Advisor Code belongs to. This is required to create the advisor code. Application Firm IDs can be found using the `GET /v2/org/firms endpoint`.","type":"integer","example":39},"code":{"title":"Code","description":"The advisor code. Eligible characters are limited to numbers 0-9, letters A-Z (upper and lowercase), and characters `-` and `_`. If your advisor code includes additional characters, please create a support ticket, so that our team can accommodate.","type":"string","example":"NEWCODE"},"source":{"title":"Source Custodian","description":"The custodian the advisor code belongs to. APX=Apex Fintech Solutions, AXO=Axos Advisory Services, DST=DST Systems, FPR=Fidelity 401k/403b, IBK=Interactive Brokers, NFS=Fidelity Investments, PER=Pershing, PTA=Pontera, SWB=Charles Schwab, EGB=Eaglebrook, MLT=Millenium Trust, TIA=TIAA Financial Services","type":"string","example":"APX","enum":["APX","AXO","DST","FPR","IBK","NFS","PER","PTA","SWB","EGB","MLT","TIA"]}}}}}},"responses":{"200":{"description":"Created Advisor Code","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"title":"Object ID","description":"Unique ID for the Advisor Code Object","type":"integer"},"firm_id":{"title":"Firm ID","description":"ID of the Firm that the Advisor Code belongs to","type":"integer","example":39},"code":{"title":"Code","description":"The advisor code","type":"string"},"source":{"title":"Source Custodian","description":"The custodian the advisor code belongs to APX=Apex Fintech Solutions, AXO=Axos Advisory Services, DST=DST Systems, FPR=Fidelity 401k/403b, IBK=Interactive Brokers, NFS=Fidelity Investments, PER=Pershing, PTA=Pontera, SWB=Charles Schwab, EGB=Eaglebrook, MLT=Millenium Trust, TIA=TIAA Financial Services","type":"string","enum":["APX","AXO","DST","EGB","FPR","IBK","MLT","NFS","PER","PTA","SWB","TIA"]},"created_at_utc":{"description":"Timestamp for when the record was created","type":"string","format":"date-time"},"updated_at_utc":{"description":"Timestamp for when the record was updated","type":"string","format":"date-time"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/org/advisor-codes/{id}":{"delete":{"tags":["Advisor Codes"],"summary":"Remove an Advisor Code","description":"Returns the \"OK\" message and a json object with the id the advisor codes removed, if deletion was successful\n\n**Note for Advisor Code Mapping in Sandbox Applications**\nTo preserve the data integrity of sandbox applications, the advisor code mapping endpoints are read-only\nand requests for creation or deletion of advisor codes will not result in updates to advisor code mappings.\nSandbox applications can read advisor codes from the `/v2/org/advisor-codes` endpoint, but the changes will not\nbe reflected upon updates.\n\nFor production applications, full access is granted to the advisor code mapping endpoints. Creations and removals\nof advisor codes will be applied to the advisor codes mapped to the application.\n","operationId":"deleteAdvisorCode","parameters":[{"$ref":"#/components/parameters/id"}],"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1%7Bid%7D/delete/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/org/advisor-codes/create-many":{"post":{"tags":["Advisor Codes"],"summary":"Create Multiple Advisor Codes","description":"Enables the ability create new advisor codes for your application\n\n**Note for Advisor Code Mapping in Sandbox Applications**\nTo preserve the data integrity of sandbox applications, the advisor code mapping endpoints are read-only\nand requests for creation or deletion of advisor codes will not result in updates to advisor code mappings.\nSandbox applications can read advisor codes from the `/v2/org/advisor-codes` endpoint, but the changes will not\nbe reflected upon updates.\n\nFor production applications, full access is granted to the advisor code mapping endpoints. Creations and removals\nof advisor codes will be applied to the advisor codes mapped to the application.\n","operationId":"createManyAdvisorCodes","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/paths/~1org~1advisor-codes/post/requestBody/content/application~1json/schema"}}}}},"responses":{"200":{"description":"An enveloped list of Advisor Codes","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/paths/~1org~1advisor-codes/post/responses/200/content/application~1json/schema"}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/org/advisor-codes/delete-many":{"post":{"tags":["Advisor Codes"],"summary":"Delete multiple Advisor Codes","description":"Gives the ability to remove multiple advisor codes from your application by providing IDs. The `id`'s provided can be found from resources returned from the `GET /v2/org/advisor-codes` endpoint.\n\n**Note for Advisor Code Mapping in Sandbox Applications**\nTo preserve the data integrity of sandbox applications, the advisor code mapping endpoints are read-only\nand requests for creation or deletion of advisor codes will not result in updates to advisor code mappings.\nSandbox applications can read advisor codes from the `/v2/org/advisor-codes` endpoint, but the changes will not\nbe reflected upon updates.\n\nFor production applications, full access is granted to the advisor code mapping endpoints. Creations and removals\nof advisor codes will be applied to the advisor codes mapped to the application.\n","operationId":"deleteManyAdvisorCodes","requestBody":{"$ref":"#/components/requestBodies/delete-many"},"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1delete-many/post/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/org/roi-requests/send-request":{"post":{"tags":["ROI Requests"],"summary":"Send ROI Request to Custodian","description":"Automatically generates and sends an email to selected Custodian in order to authorize Release of Information between Custodian and BridgeFT.","operationId":"sendRoiRequest","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["custodian","advisor_codes","owner_name","firm_name","sender_name","cc_emails","reply_to_emails"],"properties":{"custodian":{"title":"Financial institution data source","description":"Custodian from which the accounts data originates. PER=Pershing, MLT=MillenniumTrust, IBK=InteractiveBrokers, EGB=Eaglebrook Advisors. If you don’t see certain custodians in this list, it indicates that those custodians do not accept ROI requests via emails. As a result, this API does not support such cases","type":"string","enum":["PER","MLT","IBK","EGB"],"example":"MLT"},"advisor_codes":{"title":"Advisor code","description":"The advisor code associated with this ROI request","type":"array","items":{"type":"string"},"example":[85462,123456]},"owner_name":{"title":"Owner name","description":"The representative person (such as the Advisor) on whose behalf you are requesting data feed authorization","type":"string","example":"John Jonson"},"firm_name":{"title":"Firm Name","description":"BridgeFT Client Firm Name (this is your firm name), who sending an ROI request","type":"string","example":"Acme Financial"},"sender_name":{"title":"Sender Name","description":"BridgeFT Client representative who triggering this ROI request","type":"string","example":"Alex Alexen"},"cc_emails":{"title":"CC Emails","description":"Any persons who should be involved in the ROI process and receive a copy of the ROI request. These could include Advisor’s team contacts","type":"array","items":{"type":"string"}},"reply_to_emails":{"title":"Reply To Emails","description":"Email addresses of the Advisor or Advisor’s representatives. These email addresses will automatically receive responses from the custodian when they use the “Reply To” function in their email inbox","type":"array","items":{"type":"string"}}}}}}},"responses":{"200":{"description":"ROI Request Info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoiRequest"}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/groups":{"get":{"tags":["Billing Group"],"summary":"List all Billing Groups","description":"Retrieve the enveloped list of Billing Groups","operationId":"getBillingGroups","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of group","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingGroups"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Billing Group"],"summary":"Bulk Update Billing Groups","description":"Provide a list of billing groups to update. Then entire billing group object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `minimum_ids`\n- `household_id`\n- `assignments`\n","operationId":"updateBillingGroups","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingGroups"}}}},"responses":{"200":{"description":"An enveloped list of group","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingGroups"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"post":{"tags":["Billing Group"],"summary":"Create a Billing Group","description":"Returns the created billing group","operationId":"createBillingGroups","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"John Thomas Household"},"slug":{"type":"string","example":"john-thomas-household"},"household_id":{"type":"integer","example":63618},"firm_id":{"type":"integer","example":39},"minimum_ids":{"type":"array","items":{"type":"integer","nullable":true},"example":[]},"assignments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"account_id":{"type":"integer"},"group_id":{"type":"integer"},"fee_location":{"type":"integer"},"fee_location_option":{"type":"string"}}},"example":[{"id":642504,"account_id":230805,"group_id":290599,"fee_location":0,"fee_location_option":"5"}]}}}}}},"responses":{"200":{"description":"An enveloped list of group","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingGroup"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/groups/{id}":{"get":{"tags":["Billing Group"],"summary":"Retrieve a Billing Group","description":"Returns a billing group record for a provided ID","operationId":"getBillingGroup","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of group","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingGroup"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Billing Group"],"summary":"Update a Billing Group","description":"Provide a billing group to update. Then entire billing group object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `minimum_ids`\n- `household_id`\n- `assignments`\n","operationId":"updateBillingGroup","parameters":[{"$ref":"#/components/parameters/id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingGroup"}}}},"responses":{"200":{"description":"The updated group object","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingGroup"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"delete":{"tags":["Billing Group"],"summary":"Delete a Billing Group","description":"Deletes the billing group record for the provided ID.","operationId":"deteleBillingGroup","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Delete"}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/groups/create-many":{"post":{"tags":["Billing Group"],"summary":"Create Many Billing Groups","description":"Returns a list of created Billing Groups","operationId":"createManyBillingGroups","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/paths/~1billing~1groups/post/requestBody/content/application~1json/schema"}}}}},"responses":{"200":{"description":"An enveloped list of group","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingGroups"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/groups/filter":{"post":{"tags":["Billing Group"],"summary":"Filter all Billing Groups","description":"Returns a filtered list of Billing Groups","operationId":"filterBillingGroups","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"The unique resource ID for this Billing Group","type":"integer","example":315948},"name":{"description":"The name of this Billing Group","type":"string","example":"Ezequiel Roberts Household"},"slug":{"description":"The sluggified name of this Billing Group","type":"string","example":"ezequiel-roberts-household"},"household_id":{"description":"The ID of the associated household for this Billing Group","type":"integer","example":63618},"firm_id":{"description":"The firm ID of the managing firm for this Billing Group","type":"integer","example":39}}}}}},"responses":{"200":{"description":"An enveloped list of group","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingGroups"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/groups/delete-many":{"post":{"tags":["Billing Group"],"summary":"Delete Many Billing Groups","description":"Removes billing group records for the provided `ids`\n","operationId":"deteleManyBillingGroups","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"$ref":"#/components/requestBodies/delete-many"},"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"type":"object","properties":{"n":{"type":"integer"},"ids":{"type":"array","items":{"type":"integer"}}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/groups/remove-assignment":{"post":{"deprecated":true,"tags":["Billing Group"],"summary":"Remove a Billing Group Assignment","description":"Delete a single assignment tied to a Billing Group","operationId":"removeAssignment","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","example":703866},"group_id":{"type":"integer","example":315948}}}}}},"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1%7Bid%7D/delete/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/groups/create-from-households":{"post":{"deprecated":true,"tags":["Billing Group"],"summary":"Create Billing Groups from Households","description":"Deletes existing Billing Groups, and recreates for the accounts of each household managed by the firm","operationId":"createBillingGroupCreateFromHousehold","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of group","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingGroups"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/asset-adjustments":{"get":{"tags":["Asset Adjustment"],"summary":"List all Asset Adjustments","description":"Returns a list of Asset Adjustments within the data field","operationId":"getAssetAdjustments","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of Asset Adjustment","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/AssetAdjustments"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Asset Adjustment"],"summary":"Bulk Update Asset Adjustments","description":"Provide a list of asset adjustments to update. Then entire asset adjustment object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `adjustment_type`\n- `level`\n- `security_ids`\n- `weight`\n","operationId":"updateAssetAdjustments","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetAdjustments"}}}},"responses":{"200":{"description":"An enveloped list of Asset Adjustment","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/AssetAdjustments"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"post":{"tags":["Asset Adjustment"],"summary":"Create an Asset Adjustment","description":"Returns a created Asset Adjustment","operationId":"createAssetAdjustments","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"description":"The name of this Asset Adjustment","type":"string","example":"Exclude Apple"},"slug":{"description":"The sluggified name of this Asset Adjustment","type":"string","example":"exclude-apple"},"adjustment_type":{"description":"i for inclusion, e for exclusion","type":"string","enum":["i","e"],"example":"e"},"level":{"description":"f for firm-wide, a for the account level","type":"string","enum":["f","a"],"example":"a"},"firm_id":{"description":"The firm ID of the managing firm","type":"integer","example":39},"weight":{"description":"Weight of the adjusted asset","type":"integer","example":100}}}}}},"responses":{"200":{"description":"An enveloped list of Asset Adjustment","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/AssetAdjustment"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/asset-adjustments/{id}":{"get":{"tags":["Asset Adjustment"],"summary":"Retrieve an Asset Adjustment","description":"Returns an Asset Adjustment based on a single ID","operationId":"getAssetAdjustment","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of Asset Adjustment","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/AssetAdjustment"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Asset Adjustment"],"summary":"Update an Asset Adjustment","description":"Provide an asset adjustment to update. Then entire asset adjustment object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `adjustment_type`\n- `level`\n- `security_ids`\n- `weight`\n","operationId":"updateAssetAdjustment","parameters":[{"$ref":"#/components/parameters/id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssetAdjustment"}}}},"responses":{"200":{"description":"An enveloped list of Asset Adjustment","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/AssetAdjustment"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"delete":{"tags":["Asset Adjustment"],"summary":"Delete an Asset Adjustment","description":"Returns the \"OK\" message and a json object with the id  of item deleted, if deletion was successful","operationId":"deteleAssetAdjustment","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1%7Bid%7D/delete/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/asset-adjustments/create-many":{"post":{"tags":["Asset Adjustment"],"summary":"Create Many Asset Adjustments","description":"Returns the created Asset Adjustment","operationId":"createManyAssetAdjustments","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/AssetAdjustment"}}}}},"responses":{"200":{"description":"An enveloped list of Asset Adjustment","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/AssetAdjustments"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/asset-adjustments/delete-many":{"post":{"tags":["Asset Adjustment"],"summary":"Delete many Asset Adjustments","description":"Returns the \"OK\" message and a json object with the number of items deleted, if deletion was successful","operationId":"deteleManyAssetAdjustments","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"$ref":"#/components/requestBodies/delete-many"},"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1delete-many/post/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/asset-adjustments/filter":{"post":{"tags":["Asset Adjustment"],"summary":"Filter all Asset Adjustment","description":"Returns a filtered list of Asset Adjustment","operationId":"filterBillingAssetAdjustment","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"The unique resource ID for this Asset Adjustment","type":"integer","example":60},"name":{"description":"The name of this Asset Adjustment","type":"string","example":"Exclude Apple"},"slug":{"description":"The sluggified name of this Asset Adjustment","type":"string","example":"exclude-apple"},"adjustment_type":{"description":"i for inclusion, e for exclusion","type":"string","enum":["i","e"],"example":"e"},"security_ids":{"description":"List of security ids associated with this asset adjustment","type":"array","items":{"type":"integer"},"example":[62]},"level":{"description":"f for firm-wide, a for the account level","type":"string","enum":["f","a"],"example":"a"},"firm_id":{"description":"The firm ID of the managing firm","type":"integer","example":39}}}}}},"responses":{"200":{"description":"An enveloped list of Asset Adjustment","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/AssetAdjustments"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/fee-upload-files":{"get":{"tags":["Fee Upload File"],"summary":"List all Fee Upload Files","description":"Return an enveloped list of fee upload files generated by your application.","operationId":"getFeeUploads","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of fee uploads","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeUploads"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/fee-upload-files/{id}":{"get":{"tags":["Fee Upload File"],"summary":"Retrieve a Fee Upload File","description":"Returns the fee upload file record for the provided ID.","operationId":"getFeeUpload","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of fee upload","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeUpload"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/fee-upload-files/filter":{"post":{"tags":["Fee Upload File"],"summary":"Filter all Fee Upload Files","description":"Returns a filtered list of Fee Upload Files","operationId":"filterFeeUpload","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"The unique resource ID for this Fee Upload File","type":"integer","example":33},"firm_id":{"description":"The firm ID of the managing firm","type":"integer","example":39},"end_date":{"description":"The date that this Fee Upload File ends","type":"string","format":"date-time","example":"2017-07-31T00:00:00Z"},"num_files":{"description":"The number of files for this Fee Upload File","type":"integer","example":6},"num_custodians":{"description":"The number of custodians for this Fee Upload File","type":"integer","example":3},"num_accounts":{"description":"The number of accounts for this Fee Upload File","type":"integer","example":15},"num_households":{"description":"The number of households for this Fee Upload File","type":"integer","nullable":true,"example":null},"total_annual_debit":{"description":"The total annual debit for this Fee Upload File","type":"number","nullable":true,"format":"float","example":null},"total_period_debit":{"description":"The total period debit for this Fee Upload File","type":"number","nullable":true,"format":"float","example":null}}}}}},"responses":{"200":{"description":"An enveloped list of fee upload","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeUploads"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/fee-upload-files/download/{id}":{"post":{"tags":["Fee Upload File"],"summary":"Download the Fee Upload File","description":"Returns the fee upload file .zip archive for the specified ID.","operationId":"getFeeUploadDownload","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"The fee upload file .zip archive","content":{"application/zip":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/fee-structures":{"get":{"tags":["Fee Structure"],"summary":"List all Fee Structures","description":"Returns an enveloped list of Fee Structures.","operationId":"getFeeStructures","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of fee structure","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeStructures"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Fee Structure"],"summary":"Bulk Update Fee Structures","description":"Provide a list of fee structures to update. Then entire fee structure object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `calculation_type`\n- `collection_type`\n- `frequency`\n- `quarter_cycle`\n- `balance_type`\n- `flat_rate`\n- `flat_dollar_fee`\n- `semi_annual_cycle`\n- `annual_cycle`\n- `tiers`\n","operationId":"updateFeeStructures","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeeStructures"}}}},"responses":{"200":{"description":"The updated list of fee structure objects.","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeStructures"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"post":{"tags":["Fee Structure"],"summary":"Create a Fee Structure","description":"Returns the created  Fee Structure","operationId":"createFeeStructures","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"created_by_user_id":{"description":"The user ID of the creator User","type":"integer","nullable":true,"example":null,"deprecated":true},"firm_id":{"description":"The firm ID of the managing firm","type":"integer","example":39},"name":{"description":"The name of this Fee Structure","type":"string","example":"Standard Tiered Rate"},"slug":{"description":"The slugified name of this Fee Structure","type":"string","example":"standard-tiered-rate"},"calculation_type":{"description":"R for Flat Rate, A for Flat Account Fee, G for Flat Group Fee, D for Drop Through, T for Tiered Fee, and F for Favor Fee","type":"string","enum":["R","A","G","D","T","F"],"example":"R"},"collection_type":{"description":"See Billing Collection Types","type":"string","example":"P"},"frequency":{"description":"See Frequency Codes","type":"string","enum":["M","Q"],"example":"Q"},"quarter_cycle":{"description":"See Billing Quarter Cycle Codes","type":"integer","example":1},"balance_type":{"description":"E for end of period balance, A for average daily balance, P for ending period balance w/ adjustment for flows, C for ending period balance w/adjustment for flows less cash","type":"string","enum":["E","A","P","C"],"example":"E"},"flat_rate":{"description":"The flat rate for this Fee Structure. Must be between 0 and 99 inclusive. Will be stored and converted to a Percentage. (i.e. 1 -> 1% and 0.25 -> 0.25%)","type":"number","format":"float","example":1},"flat_dollar_fee":{"description":"The flat dollar fee for this Fee Structure","type":"number","nullable":true,"format":"float","example":null},"tiers":{"description":"Tiers associated with the fee structure","type":"array","items":{"type":"object","properties":{"id":{"description":"Id associated with the tier object","type":"integer"},"min_balance":{"description":"Minimum balance for the tier","type":"number"},"max_balance":{"description":"Maximum balance for the tier","type":"number","nullable":true},"rate":{"description":"Rate for the tier","type":"number"},"fee_structure_id":{"description":"Fee structure id associated with this tier","type":"integer"}}},"example":[{"id":4249,"min_balance":0,"max_balance":1000000,"rate":0.9,"fee_structure_id":1290},{"id":4250,"min_balance":1000000.01,"max_balance":null,"rate":0.75,"fee_structure_id":1290}]}}}}}},"responses":{"200":{"description":"An enveloped list of fee structure","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeStructure"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/fee-structures/{id}":{"get":{"tags":["Fee Structure"],"summary":"Retrieve a Fee Structure","description":"Returns the fee structure record for the provided ID","operationId":"getFeeStructure","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of Fee Structure","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeStructure"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Fee Structure"],"summary":"Update a Fee Structure","description":"Provide a fee structure to update. Then entire fee structure object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `calculation_type`\n- `collection_type`\n- `frequency`\n- `quarter_cycle`\n- `balance_type`\n- `flat_rate`\n- `flat_dollar_fee`\n- `semi_annual_cycle`\n- `annual_cycle`\n- `tiers`\n","operationId":"updateFeeStructure","parameters":[{"$ref":"#/components/parameters/id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeeStructure"}}}},"responses":{"200":{"description":"An enveloped list of Fee Structure","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeStructure"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"delete":{"tags":["Fee Structure"],"summary":"Delete a Fee Structure","description":"Deletes the record for the provided fee structure ID.","operationId":"deteleFeeStructure","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1%7Bid%7D/delete/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/fee-structures/create-many":{"post":{"tags":["Fee Structure"],"summary":"Create Many Fee Structures","description":"Returns a list of created Fee Structures","operationId":"createManyFeeStructures","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","$ref":"#/paths/~1billing~1fee-structures/post/requestBody/content/application~1json/schema"}}}}},"responses":{"200":{"description":"An enveloped list of Fee Structure","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeStructures"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/fee-structures/delete-many":{"post":{"tags":["Fee Structure"],"summary":"Delete Many Fee Structures","description":"Deletes the records for the provided Fee Structure `ids`\n","operationId":"deteleManyFeeStructures","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"$ref":"#/components/requestBodies/delete-many"},"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1delete-many/post/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/fee-structures/filter":{"post":{"tags":["Fee Structure"],"summary":"Filter all Fee Structures","description":"Returns a filtered list of Fee Structure","operationId":"filterFeeStructures","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"The unique resource ID for this Fee Structure","type":"integer","example":1290},"created_by_user_id":{"description":"The user ID of the creator User","type":"integer","nullable":true,"example":null},"firm_id":{"description":"The firm ID of the managing firm","type":"integer","example":39},"name":{"description":"The name of this Fee Structure","type":"string","example":"Standard Tiered Rate"},"slug":{"description":"The slugified name of this Fee Structure","type":"string","example":"standard-tiered-rate"},"calculation_type":{"description":"R for Flat Rate, A for Flat Account Fee, G for Flat Group Fee, D for Drop Through, T for Tiered Fee, and F for Favor Fee","type":"string","enum":["R","A","G","D","T","F"],"example":"R"},"collection_type":{"description":"See Billing Collection Types","type":"string","example":"P"},"frequency":{"description":"See Frequency Codes","type":"string","enum":["M","Q"],"example":"Q"},"quarter_cycle":{"description":"See Billing Quarter Cycle Codes","type":"integer","example":1},"balance_type":{"description":"E for end of period balance, A for average daily balance, P for ending period balance w/ adjustment for flows, C for ending period balance w/adjustment for flows less cash","type":"string","enum":["E","A","P","C"],"example":"E"},"flat_rate":{"description":"The flat rate for this Fee Structure. Must be between 0 and 99 inclusive. Will be stored and converted to a Percentage. (i.e. 1 -> 1% and 0.25 -> 0.25%)","type":"number","format":"float","example":1},"flat_dollar_fee":{"description":"The flat dollar fee for this Fee Structure","type":"number","nullable":true,"format":"float","example":null}}}}}},"responses":{"200":{"description":"An enveloped list of Fee Structure","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/FeeStructures"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/invoices":{"get":{"tags":["Invoices"],"summary":"List all Invoices","description":"Returns an enveloped list of invoices generated from Billing Reports.","operationId":"getInvoices","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of Invoices","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Invoices"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/invoices/{id}":{"get":{"tags":["Invoices"],"summary":"Retrieve an Invoice","description":"Returns an invoice detail object for the provided ID.","operationId":"getInvoice","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of invoice","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Invoice"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/invoices/filter":{"post":{"tags":["Invoices"],"summary":"Filter all Invoices","description":"Returns a filtered list of Invoices","operationId":"filterInvoices","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"The unique resource ID for this Invoice","type":"integer"},"firm_id":{"description":"The firm ID of the managing firm","type":"integer"},"billing_group_id":{"description":"The billing group ID for this Invoice","type":"integer"},"snapshot_date":{"description":"The snapshot date for this Invoice","type":"string","format":"date-time"},"billing_report_id":{"description":"The associated billing report ID for this Invoice","type":"integer"},"annual_fee":{"description":"The total fee and debited amount annualized just for this billing group","type":"number","format":"float"},"annual_debit":{"description":"The annual debit for this Invoice","type":"number","format":"float"},"total_balance":{"description":"The total group balance on the snapshot date","type":"number","format":"float"},"period_debit":{"description":"The total debited amount for the period just for this billing group on the snapshot date","type":"number","format":"float"},"direct_billed_period_debit":{"description":"The direct billed period debit for this Invoice.","type":"number","format":"float"},"custodian_billed_period_debit":{"description":"The custodian billed period debit for this Invoice","type":"number","format":"float"},"n_accounts":{"description":"The number of accounts in the report","type":"integer"},"n_fee_structures":{"description":"The number of fee structures in the report","type":"integer"},"due_date":{"description":"Invoice due date, calculated using firm settings at the time the invoice was generated","type":"string","format":"date-time"},"is_paid":{"description":"Is the invoice paid?","type":"boolean"},"group_id":{"description":"Group Id of this invoice","type":"integer"}}}}}},"responses":{"200":{"description":"An enveloped list of Invoices","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Invoices"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/invoices/download/{id}":{"post":{"tags":["Invoices"],"summary":"Download a PDF Invoice","description":"Returns the binary data for a specified invoice. This endpoint allows you to download the PDF file corresponding to the provided invoice ID.\n","operationId":"getInvoiceDownloadStream","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"Content-Type":{"description":"application/pdf","type":"string"},"Accept":{"description":"application/pdf","type":"string"}}}}}},"responses":{"200":{"description":"The PDF Invoice","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/invoices/download":{"post":{"tags":["Invoices"],"summary":"Bulk Download Billing Invoices","description":"Starts and returns a bulk download job","operationId":"filterInvoiceBulkDownload","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"integer"},"description":"A list of PDF Report ids that will be downloaded during the bulk download job."}}}}}},"responses":{"200":{"description":"An enveloped list of Jobs","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Job"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/reports":{"get":{"tags":["Billing Reports"],"summary":"List all Billing Reports","description":"Returns a list of Billing Reports within the data field","operationId":"getBillingReports","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of Billing Reports","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingReports"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"post":{"tags":["Billing Reports"],"summary":"Start a Billing Job","description":"Starts a Billing Job with PDF Reporting and returns the created Background Job Instance","operationId":"startBillingReportStartPDF","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["firm_id","period_type","is_invoice_by_client","create_invoice"],"properties":{"firm_id":{"description":"Unique ID for the object","type":"integer","format":"int64","example":20},"billing_date":{"description":"The date to run a billing calculation on","type":"string","example":"2022-08-31"},"create_invoices":{"description":"Whether to create Invoice PDFs during the billing calculation job","type":"boolean","example":true},"is_invoice_by_client":{"description":"When this option is true, invoices will be created at the household level. Each household in the billing run will receive an invoice with billing details included for each individual account in that respective household. If accounts in the billing run do not belong to a household, each individual account will receive their own invoice. When this option is false, invoices will be generated for each billing group containing billing details for each account in the respective billing group.","type":"boolean","example":true},"email_notification":{"description":"If true, this sends an email notification to the user who created the job","type":"boolean","example":true},"period_type":{"description":"Whether to create an invoice using the standard (S) or exact (E) billing period","type":"string","enum":["S","E"],"example":"S"},"group_ids":{"description":"An array of billing group ids","type":"array","items":{"type":"integer"},"nullable":true,"example":null},"settings_overrides":{"type":"object","nullable":true,"description":"`settings_overrides` provides the ability to override default billing and invoice settings that are set by default in the `Firm` resource.\n","properties":{"logo_settings":{"type":"object","description":"Overrides the default `logo` on the generated PDF report.\n","properties":{"logo":{"type":"string","description":"Base64 encoded data of a PNG or a JPEG image to be placed on the generated PDF report."},"logo_mime_type":{"type":"string","description":"The mime type of the provided image. Accepted values are `image/png` and `image/jpeg`","enum":["image/png","image/jpeg"]}}},"billing_partition_option":{"type":"string","description":"How billing is partitioned for the billing run. (Daily, Weekly, Monthly, Quarterly, Yearly)","enum":["D","W","M","Q","Y"]},"invoice_header":{"type":"string","description":"HTML template for the invoice header"},"invoice_footer":{"type":"string","description":"HTML template for the invoice footer"},"invoice_from":{"type":"string","description":"The address of the firm"},"invoice_due_date_option":{"type":"string","description":"Option to use for calculating due date. Choices are 30 (30 days from the invoice date), E (end of next month), or the empty string.","enum":["30","E",""]},"invoice_include_fee_structures":{"type":"boolean","description":"Whether to include a description of the fee structures used in the billing"},"invoice_effective_rates":{"type":"boolean","description":"Whether to include effective rates (total billed divided by total assets) in the invoice"},"invoice_annualized_effective_rates":{"type":"boolean","description":"Whether to show the effective rate as an annual percentage"},"invoice_show_agreement":{"type":"boolean","description":"Whether to show the disclaimer agreement text, standard from V2 invoices"},"invoice_not_a_bill_explanation":{"type":"boolean","description":"If true and the invoice doesn't represent a bill (because it'll be withdrawn directly)"}}}}}}}},"responses":{"200":{"description":"An enveloped list of Jobs","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Job"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/reports/{id}":{"get":{"tags":["Billing Reports"],"summary":"Retrieve a Billing Report","description":"Returns a Billing Report based on a single ID","operationId":"getBillingReport","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of Billing Report","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingReport"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"delete":{"tags":["Billing Reports"],"summary":"Delete a Billing Report","description":"Deletes the billing report record for the provided ID.","operationId":"deteleBillingReport","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1%7Bid%7D/delete/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/reports/filter":{"post":{"tags":["Billing Reports"],"summary":"Filter all Billing Reports","description":"Returns a filtered list of Billing Reports","operationId":"filterBillingReports","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"The unique resource ID for this billing report","type":"integer","example":18444},"firm_id":{"description":"The firm ID of the managing firm","type":"integer","example":39},"created_invoices":{"description":"True if invoices were created when the report was created","type":"boolean","example":true},"billing_date":{"description":"The input date to the billing report","type":"string","format":"date-time","example":"2022-09-30T00:00:00Z"},"snapshot_date":{"description":"The closest date available to the billing date for which there's data at the time of running the report","type":"string","format":"date-time","example":"2022-09-30T00:00:00Z"},"run_date":{"description":"The most recent market date corresponding to when the report date","type":"string","format":"date-time","example":"2022-08-12T00:00:00Z"},"created_date":{"description":"The calendar date on which the report was generated / created","type":"string","format":"date-time","example":"0001-01-01T00:00:00Z"},"annual_fee":{"description":"Total fee and debited amount annualized","type":"number","format":"float","example":86748.68},"annual_debit":{"description":"The annual debit amount for this billing report","type":"number","format":"float","example":86748.68},"total_balance":{"description":"Sum of all group balances on the billing date","type":"number","format":"float","example":8674867.56},"aum_on_billing_date":{"description":"All assets under management on the billing date","type":"number","format":"float","example":8674867.56},"period_debit":{"description":"Total debited amount for the period","type":"number","format":"float","example":7229.03},"direct_billed_period_debit":{"description":"The direct billed period debit for this billing report","type":"number","nullable":true,"format":"float","example":null},"custodian_billed_period_debit":{"description":"The custodian billed period debit for this billing report","type":"number","format":"float","example":7229.03},"split_payout":{"description":"Total payout of all splits for this period","type":"number","nullable":true,"format":"float","example":null},"split_payout_annualized":{"description":"Split payout on an annualized basis","type":"number","nullable":true,"format":"float","example":null},"firm_share":{"description":"The firm's share for the period. Equals period_debit - split_payout.","type":"number","format":"float","example":7229.03},"firm_share_annualized":{"description":"Firm's annualized share. Equals annual_debit - split_payout_annualized.","type":"number","format":"float","example":86748.68},"n_accounts":{"description":"The number of accounts for this billing report","type":"integer","example":4},"n_groups":{"description":"The number of groups for this billing report","type":"integer","example":1},"n_splits":{"description":"The number of billing splits for this billing report","type":"integer","example":16},"n_fee_structures":{"description":"The number of fee structures for this billing report","type":"integer","example":7},"fee_upload_file_id":{"description":"The corresponding fee upload file model instance","type":"integer","nullable":true,"example":null}}}}}},"responses":{"200":{"description":"An enveloped list of Billing Reports","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/BillingReports"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/reports/delete-many":{"post":{"tags":["Billing Reports"],"summary":"Delete many Billing Reports","description":"Deletes the corresponding billing report records for the provided list of `\"ids\"` in the request body.\n","operationId":"deteleManyBillingReports","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"$ref":"#/components/requestBodies/delete-many"},"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1delete-many/post/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/minimums":{"get":{"tags":["Minimums"],"summary":"List all Minimums","description":"Returns an enveloped list of Billing Minimums.","operationId":"getMinimumsMany","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of minimums","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/MinimunsMany"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Minimums"],"summary":"Bulk Update Minimums","description":"Provide a list of billing minimums to update. Then entire billing minimum object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `value`\n- `value_type`\n","operationId":"updateMinimumsMany","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MinimunsMany"}}}},"responses":{"200":{"description":"An enveloped list of minimums","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/MinimunsMany"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"post":{"tags":["Minimums"],"summary":"Create a Minimum","description":"Returns the created Minimums","operationId":"createMinimums","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"firm_id":{"description":"The firm ID of the managing firm","type":"integer","example":39},"name":{"description":"The name of this Billing Minimum","type":"string","example":"Insurance Claim"},"value":{"description":"The value of this Billing Minimum","type":"number","format":"float","example":2500},"value_type":{"description":"F for flat amount, P for percentage","type":"string","enum":["F","P"],"example":"F"}}}}}},"responses":{"200":{"description":"An enveloped list of minimums","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Minimuns"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/minimums/{id}":{"get":{"tags":["Minimums"],"summary":"Retrieve a Minimum","description":"Returns a Billing Minimum record for the provided ID.","operationId":"getMinimums","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of minimums","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Minimuns"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Minimums"],"summary":"Update a Minimum","description":"Provide a billing minimum to update. Then entire billing minimum object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `value`\n- `value_type`\n","operationId":"updateMinimums","parameters":[{"$ref":"#/components/parameters/id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Minimuns"}}}},"responses":{"200":{"description":"An enveloped list of minimums","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Minimuns"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"delete":{"tags":["Minimums"],"summary":"Delete a Minimum","description":"Deletes the billing minimum record for the provided ID.","operationId":"deteleMinimums","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1%7Bid%7D/delete/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/minimums/create-many":{"post":{"tags":["Minimums"],"summary":"Create Many Minimums","description":"Returns a list of created Minimums","operationId":"createManyMinimums","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/paths/~1billing~1minimums/post/requestBody/content/application~1json/schema"}}}}},"responses":{"200":{"description":"An enveloped list of Minimums","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/MinimunsMany"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/minimums/delete-many":{"post":{"tags":["Minimums"],"summary":"Delete Many Minimums","description":"Deletes the corresponding billing minimum records for the provided IDs.","operationId":"deteleManyMinimumsMany","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"$ref":"#/components/requestBodies/delete-many"},"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1delete-many/post/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/minimums/filter":{"post":{"tags":["Minimums"],"summary":"Filter Minimums","description":"Returns a filtered list of Minimums","operationId":"filterMinimums","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"description":"The unique resource ID for this Billing Minimum","type":"integer","example":19},"firm_id":{"description":"The firm ID of the managing firm","type":"integer","example":39},"name":{"description":"The name of this Billing Minimum","type":"string","example":"Insurance Claim"},"value":{"description":"The value of this Billing Minimum","type":"number","format":"float","example":2500},"value_type":{"description":"F for flat amount, P for percentage","type":"string","enum":["F","P"],"example":"F"}}}}}},"responses":{"200":{"description":"An enveloped list of Minimums","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/MinimunsMany"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/splits":{"get":{"tags":["Billing Splits"],"summary":"List all Billing Splits","description":"Returns an enveloped list of Billing Split records","operationId":"getBillingSplits","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of Split","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Split"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Billing Splits"],"summary":"Bulk Update Billing Splits","description":"Provide a list billing splits to update. Then entire billing split object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `percentage`\n- `splitter_name`\n","operationId":"updateBillingSplits","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Split"}}}},"responses":{"200":{"description":"The list of updated billing split records","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Split"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"post":{"tags":["Billing Splits"],"summary":"Create a Billing Split","description":"Returns the created Billing Split","operationId":"createBillingSplits","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"firm_id":{"description":"The ID of the managing firm for this billing split","type":"integer","example":39},"name":{"description":"The name of the billing split, auto-generated if not supplied","type":"string","example":"Advisor #2 Clients"},"splitter_name":{"description":"The name originally entered by the user","type":"string","example":"Kevin Orick"},"splitter_slug":{"description":"The sluggified version of the name field","type":"string","example":"kevin-orick"},"percentage":{"description":"The percentage of the split stored on the natural scale","type":"number","format":"float","example":10}}}}}},"responses":{"200":{"description":"An enveloped list of Split","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/paths/~1billing~1splits~1%7Bid%7D/put/requestBody/content/application~1json/schema"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/splits/{id}":{"get":{"tags":["Billing Splits"],"summary":"Retrieve a Billing Split","description":"Returns the Billing Split record for the provided ID","operationId":"getBillingSplit","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"description":"An enveloped list of split","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/paths/~1billing~1splits~1%7Bid%7D/put/requestBody/content/application~1json/schema"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"put":{"tags":["Billing Splits"],"summary":"Update a Billing Split","description":"Provide a billing split to update. Then entire billing split object **must** be provided to the `PUT` request.\n\n**Editable Fields:**\n- `name`\n- `percentage`\n- `splitter_name`\n","operationId":"updateBillingSplit","parameters":[{"$ref":"#/components/parameters/id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"title":"Id","description":"The unique resource ID for the billing split","type":"integer"},"firm_id":{"title":"Firm id","description":"The ID of the managing firm for this billing split","type":"integer"},"name":{"title":"Name","description":"The name of the billing split, auto-generated if not supplied","type":"string"},"splitter_name":{"title":"Splitter name","description":"The name originally entered by the user","type":"string"},"splitter_slug":{"title":"Splitter slug","description":"The sluggified version of the name field","type":"string"},"percentage":{"title":"Percentage","description":"The percentage of the split stored on the natural scale","type":"number","format":"float"},"created_at_utc":{"description":"Timestamp for when the record was created","type":"string","format":"date-time"},"updated_at_utc":{"description":"Timestamp for when the record was updated","type":"string","format":"date-time"}}}}}},"responses":{"200":{"description":"The updated Billing Split record","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/paths/~1billing~1splits~1%7Bid%7D/put/requestBody/content/application~1json/schema"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}},"delete":{"tags":["Billing Splits"],"summary":"Delete a Billing Split","description":"Delete the billing split record for the provided ID\n","operationId":"deteleBillingSplit","parameters":[{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"responses":{"200":{"$ref":"#/paths/~1billing~1groups~1%7Bid%7D/delete/responses/200"},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/splits/create-many":{"post":{"tags":["Billing Splits"],"summary":"Create Many Billing Splits","description":"Returns a list of created Billing Splits","operationId":"createManyBillingSplits","parameters":[{"$ref":"#/components/parameters/limit"},{"$ref":"#/components/parameters/page"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","$ref":"#/paths/~1billing~1splits~1%7Bid%7D/put/requestBody/content/application~1json/schema"}}}}},"responses":{"200":{"description":"An enveloped list of Split","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","example":"list"},"has_next":{"type":"boolean"},"has_previous":{"type":"boolean"},"current_page":{"type":"integer","example":2},"total_pages":{"type":"integer","example":5},"page_size_limit":{"type":"integer","example":10000},"total_items":{"type":"integer","example":50},"data":{"$ref":"#/components/schemas/Split"}}}}}},"400":{"$ref":"#/paths/~1jobs~1/get/responses/400"}}}},"/billing/splits/delete-many":{"post":{"tags":["Billing Splits"],"summary":"Delete Many Billing Splits",
[...]
